.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

$grid_columns: 12;
$grid_xl_breakpoints: 1200px;

@media (min-width: $grid_xl_breakpoints) {
  .container {
    width: 1170px;
  }
  @for $var from 1 through 12 {
    .col-xl-#{$var} {
      width: 100 / $grid_columns * $var * 1%;
    }
  }
}
