.banner-section {
  height: 100vh;

  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary_color;
    opacity: 0.3;
    z-index: -1;
  }
  .banner {
    &__content {
      margin-top: 120px;
      text-align: center;
    }
    &__content-heading {
      font-size: 90px;
      font-family: "Arial", serif;
      color: $white;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 100px;
      font-weight: bold;

      span {
        color: $primary_color;
        display: block;
        font-size: 110px;
        margin-bottom: 60px;
      }
    }
    &__content-btn {
    }
  }
}
