.cta-bottom-section {
  padding: 80px 0;
  .cta-bottom {
    &__content {
      text-align: center;
    }
    &__content-heading {
      font-size: 60px;
      text-transform: uppercase;
      font-style: italic;
      font-family: sans-serif;
    }
    &__content-desc {
      font-style: 18px;
      padding-top: 30px;
      margin-bottom: 50px;
    }
    &__content-btn {
      margin-right: 90px;
    }
  }
}
